body {
/*    So that the static footer doesn't cover content'*/
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/footer_lodyas.png");
    color: white;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;   
}


.jumbotron {
    background-color: transparent;
}

#top {
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0.7) 0%, rgba(8, 8, 8, 0.7) 100%),url(../img/cpu_bg.jpg);
    height: 90vh;
    padding: 2em;
}

.listing-main {
    text-align: center;
}


footer img {
    height: 35px; 
    max-width: 100%;
}

.navbar {
    /* frees up the very bottom of the page for the footer */
    margin:0;
}
a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}
h4 {
    font-weight: 100;
}
/*===============================
Typography
================================
*/

h3 a {
    color:#fff;
}

nav {
    padding: 5px 0px;
}

nav.navbar-inverse {
    border-style: none;   
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.modal-header h3 {
    color: #000;
}

nav li {
    padding: 0 8px;
}

li a {
    text-transform: uppercase;
    font-size: 1.2em;
}
/*===============================
footer
================================
*/


footer {
    height: 100px;
    margin: 0;
}


/*===============================
Animation
================================
*/
/*
@keyframes hovercolor {
    0% {
      background-color: transparent;
    }
    10% {
        background-color: rgba(255, 90, 0, 0.2);
    }
    100% {
      background-color: rgba(255, 0, 0, 0.2);
      border: 2px solid #d3d3d3;
    }
}

*/

.jumbotron {
    overflow: hidden;
}


/*===============================
Media Queries
================================
*/

@media(max-width:767px){

}
@media(min-width:768px){


}
@media(min-width:992px){


}
@media(min-width:1200px){

}


.navbar-fixed-top {
    margin: 0;
}

#about {
    color: #000;
}



a[href="#"] {
    color: #fff;
}

a[href="#"]:hover {
    color: #d3d3d3;
}



[alt="feature image"]{
    max-width: 100%;
}

[alt="sub image"] {
    max-width: 60%;
}



#read-page {
    color: #000;
}

a[class="list-group-item"] {
    color: #000;
}

a[class="list-group-item"]:hover {
    color: rgb(0, 0, 0);
}

#builds {
    padding: 20px;
}

.listing-column {
    border: 2px solid transparent;
}

.down-arrow-block {
    margin-top: 80px;
    text-align: center;
}


.downArrow i{
    width: 50px;
    height: 50px;
    font-size: 3em;
    color: #fff;
}

#vertical-align {
    margin-top: 20vh;
    text-align: center;
}

#vertical-align h1 {
    font-size: 4em;
}

/* ==================
    PLUGIN
*/

.pulse-button {
  display:inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  background-color: lightgray;
  background-image: url(../img/downarrow.png);
  background-size:cover;
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 40px rgba(232, 76, 61, 0);}}


/* Rectangle Out */
.hvr-rectangle-out {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #000;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
    padding: 0.5em;
    border-radius: 200px 9px 0px 58px;
-moz-border-radius: 200px 9px 0px 58px;
-webkit-border-radius: 200px 9px 0px 58px;
border: 0px solid #000000;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098d1;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
    border-radius: 200px 9px 0px 58px;
-moz-border-radius: 200px 9px 0px 58px;
-webkit-border-radius: 200px 9px 0px 58px;
border: 0px solid #000000;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

#bronze:before, #bronze:active {
/* Background Gradient for Analagous Colors */

    background-color: #CD3232;
    /* For WebKit (Safari, Chrome, etc) */
    background: #CD3232 -webkit-gradient(linear, left top, left bottom, from(#CD9932), to(#CD3232)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #CD3232 -moz-linear-gradient(top, #CD9932, #CD3232) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CD9932, endColorstr=#CD3232) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CD9932, endColorstr=#CD9932)" no-repeat;
}
#bronze:hover {
    color:#fff;
}
#silver:before, #silver:active {
/* Background Gradient for Analagous Colors */
    background-color: #A0BABF;
    /* For WebKit (Safari, Chrome, etc) */
    background: #A0BABF -webkit-gradient(linear, left top, left bottom, from(#A0A5BF), to(#A0BABF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #A0BABF -moz-linear-gradient(top, #A0A5BF, #A0BABF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0A5BF, endColorstr=#A0BABF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A0A5BF, endColorstr=#A0A5BF)" no-repeat;



}
#silver:hover {
    color: #fff;
}
#gold:before {
/* Background Gradient for Analagous Colors */

    background-color: #D46037;
    /* For WebKit (Safari, Chrome, etc) */
    background: #D46037 -webkit-gradient(linear, left top, left bottom, from(#D4C937), to(#D46037)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #D46037 -moz-linear-gradient(top, #D4C937, #D46037) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4C937, endColorstr=#D46037) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#D4C937, endColorstr=#D4C937)" no-repeat;
}
#gold:hover {
    color:#fff;
}
#diamond:before, #diamond:active {
    /* Background Gradient for Analagous Colors */
    background-color: #9BFFEF;
    /* For WebKit (Safari, Chrome, etc) */
    background: #9BFFEF -webkit-gradient(linear, left top, left bottom, from(#9BCCFF), to(#9BFFEF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #9BFFEF -moz-linear-gradient(top, #9BCCFF, #9BFFEF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#9BCCFF, endColorstr=#9BFFEF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#9BCCFF, endColorstr=#9BCCFF)" no-repeat;

}
#diamond:hover {
    color: #fff;
}